$muli: 'Muli', 'Arial', sans-serif;
$icon-font-path: '../bootstrap/assets/fonts/bootstrap/';

//grid variables

$lg-min: 1200px;
$md-max: 1199px;
$md-min: 992px;
$sm-max: 991px;
$sm-min: 768px;
$xs-max: 767px;
