.page-header-title {
  margin: 77px 0 87px;
  font-size: 54px;
  color: $mine-shaft;

  @include mq($sm-max, max) {
    font-size: 32px;
    margin: 40px 0 50px;
  }

  @include mq($xs-max, max) {
    font-size: 24px;
    margin: 20px 0;
  }
}

.page-body-text {
  font-size: 16px;
  color: $mine-shaft;
  line-height: 1.625;

  @include mq($sm-max, max) {
    margin-bottom: 30px;
  }
}

.accounting-packages {
  background: url('../img/about-us-accounting.jpg');
  background-size: cover;
  padding: 150px 0 20px 19px;

  p {
    font-size: 16px;
    margin-bottom: 0;
    color: $white;

    a {
      color: $white;
      text-decoration: none;
      display: inline-block;
      padding: 8px 21px;
      border: 1px solid #ffffff;
    }

    &:nth-of-type(2) {
      font-size: 32px;
      margin: 7px 0 0;
    }

    &:nth-of-type(3) {
      margin: 0 0 8px;
    }
  }
}

.region-sidebar-second {
  .callback-block {
    background: $cerulean;
    padding: 33px 20px 20px;

    .text-form-wrapper {

      p {
        font-size: 16px;
        color: $white;
        line-height: normal;
        margin-bottom: 20px;

        @include mq($sm-max, max) {
          margin-bottom: 33px;
          font-size: 24px;
        }
      }

      p:first-of-type {
        margin-top: 0;
        padding-bottom: 20px;
        border-bottom: 1px solid $white;
        margin-bottom: 20px;
        text-transform: uppercase;

        @include mq($md-max, max) {
          margin-bottom: 37px;
          font-size: 32px;
        }
      }

      p:last-of-type {
        display: none;
      }
    }

    .field-form-wrapper {
      padding: 0;
    }

    .webform-submit {
      background: $black;
    }
  }
}

.our-services {
  padding: 40px 0 10px;
  margin-bottom: 35px;

  .view-header {
    margin-bottom: 36px;
    font-size: 16px;
    color: $cerulean;
    text-transform: uppercase;
  }

  .views-row {
    @include clearfix;
    padding: 11px 10px;

    &-even {
      background: $spring-wood;
    }
  }

  .views-field-field-image-service {
    float: left;
    padding-right: 19px;
  }

  .views-field-title {
    padding-top: 20px;
    font-size: 24px;
    color: $black;
  }

  .views-field-title-1 {
    font-size: 16px;
    line-height: 1.625;
  }
}
