.accounting-blog {
  background: url('../img/blog-main.jpg'), $wild-sand;
  background-position: 100% 0;
  background-repeat:  no-repeat;
  background-blend-mode: multiply;
  padding: 70px 0 56px;

  @include mq($sm-max, max) {
    background: none;
    padding: 42px 0 20px;
  }

  @include mq($xs-max, max) {
    padding: 48px 0 12px;
  }

  .block-title {
    margin: 0 0 61px;
    color: $mine-shaft;
    font-size: 54px;
    text-align: center;

    @include mq($sm-max, max) {
      font-size: 32px;
      margin: 0 0 42px;
    }

    @include mq($xs-max, max) {
      font-size: 24px;
      margin: 0 0 43px;
    }
  }

  .views-row {
    @include mq($sm-max, max) {
      margin: 0 0 35px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include mq($xs-max, max) {
      margin: 0 0 20px;
    }
  }

  .views-field-field-image-blog {
    margin-bottom: 42px;

    @include mq($sm-max, max) {
      margin: 0;
      float: left;
      padding-right: 11px;
    }

    @include mq($xs-max, max) {
      float: none;
      margin: 0 0 21px;
    }
  }

  .views-field-title {
    font-size: 24px;
    margin-bottom: 25px;
    color: $mine-shaft;

    @include mq($sm-max, max) {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    @include mq($xs-max, max) {
      margin: 0 0 21px;
    }
  }

  .views-field-body {
    font-size: 16px;
    margin-bottom: 29px;
    color: $mine-shaft;

    @include mq($sm-max, max) {
      font-size: 16px;
      margin-bottom: 12px;
    }

    @include mq($xs-max, max) {
      margin: 0 0 12px;
    }
  }

  .views-field-title-1 {
    a {
      display: inline-block;
      padding: 15px 31px;
      font-size: 16px;
      color: $white;
      background: $cerulean;
      text-decoration: none;
    }
  }
}

