.accounting-tools {
  background: url('../img/callсulate-tools-main.jpg'), no-repeat;
  background-size: cover;
  background-position: 50% 0;

  @include mq($xs-max, max) {
    background: none;
  }

  .tools-wrapper {
    padding: 43px 0 59px;

    @include mq($md-max, max) {
      padding: 43px 0 35px;
    }

    @include mq($xs-max, max) {
      padding: 23px 0 38px;
    }
  }

  .company-logo {
    margin-bottom: 37px;

    @include mq($md-max, max) {
      margin-bottom: 24px;
    }

    @include mq($xs-max, max) {
      img {
        display: block;
        margin: 0 auto;
      }
    }
  }

  .accounting-tools-title {
    margin-bottom: 27px;
    font-size: 32px;
    color: $mine-shaft;

    @include mq($md-max, max) {
      font-size: 24px;
      margin-bottom: 21px;
    }

    @include mq($xs-max, max) {
      margin-bottom: 17px;
      padding-right: 29px;
    }
  }

  .accounting-tools-description {
    margin-bottom:  31px;
    font-size: 16px;
    color: $mine-shaft;

    @include mq($md-max, max) {
      font-size: 16px;
      margin-bottom: 28px;
    }

    @include mq($xs-max, max) {
      font-size: 16px;
      margin-bottom: 21px;
    }
  }

  .accounting-tools-link {
    color: $white;
    background: $cerulean;
    padding: 14px 31px;
  }
}
