.callback-block {
  background: url('../img/callback-main.jpg'), rgba($black, 0.8);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;

  fieldset.panel {
    margin: 0;
    padding: 0;
    background: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }

  .text-form-wrapper {
    .panel-body {
      padding: 137px 55px 0 0;
    }

    p {
      font-size: 32px;
      color: $white;
      line-height: 1;
      margin-bottom: 36px;

      @include mq($md-max, max) {
        margin-bottom: 33px;
        font-size: 24px;
      }
    }

    p:first-of-type {
      font-size: 54px;
      margin-top: 135px;
      margin-bottom: 48px;
      text-transform: uppercase;

      @include mq($md-max, max) {
        margin-top: 50px;
        margin-bottom: 37px;
        font-size: 32px;
      }
    }

    p:last-of-type {
      font-size: 16px;
      margin-bottom: 0;

      @include mq($xs-max, max) {
        margin-bottom: 30px;
      }
    }
  }

  .field-form-wrapper {
    background: rgba($cerulean, 0.5);
    padding: 41px 29px;
  }

  .field-form-wrapper {
    .form-item {
      margin-bottom: 10px;
    }

    input {
      height: 54px;
      box-shadow: none;
      border: 0;
      border-radius: 0;
      color: $mine-shaft;
      font-size: 16px;
    }

    textarea {
      resize: none;
      height: 110px;
      box-shadow: none;
      border: 0;
      border-radius: 0;
      color: $mine-shaft;
      font-size: 16px;
    }

    .grippie {
      display: none;
    }
  }

  .webform-submit {
    color: $white;
    background: $cerulean;
    border: none;
    padding: 13px 31px;
    line-height: 1;
    border-radius: 0;
    font-size: 16px;
  }
}

