.footer {
  background: $mine-shaft;
  margin: 0;
  padding: 45px 0 45px;

  @include mq($xs-max, max) {
    padding: 36px 0 39px;
  }
}

.xero-partners {
  .block-title {
    margin: 0 0 40px;
    font-size: 24px;
    color: $white;
  }

  p {
    font-size: 16px;
    color: $white;
    padding-right: 13px;
    margin: 0 0 27px;

    @include mq($xs-max, max) {
      margin-bottom: 20px;
    }
  }

  @include mq($sm-max, max) {
    padding-bottom: 49px;
  }

  @include mq($xs-max, max) {
    padding-bottom: 19px;
    border-bottom: 1px solid #3b3b3b;
  }
}

.contac-footer {
  .block-title {
    margin: 0 0 40px;
    font-size: 24px;
    color: $white;
  }

  p {
    font-size: 16px;
    color: $white;
    padding-right: 13px;
    margin: 0 0 22px;

    a {
      color: $white;
      text-decoration: none;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @include mq($xs-max, max) {
    padding-top: 23px;
    padding-bottom: 63px;
    border-bottom: 1px solid #3b3b3b;
  }
}

.social-links {
  .block-title {
    margin: 0 0 10px;
    font-size: 24px;
    color: $white;
  }

  @include mq($xs-max, max) {
    padding-top: 21px;
  }
}

.footer-second__wrapper {
  background: #212121;
  padding-top: 45px;
  padding-bottom: 47px;

  @include mq($sm-max, max) {
    padding-top: 21px;
    padding-bottom: 27px;
  }

  @include mq($xs-max, max) {
    padding-top: 18px;
    padding-bottom: 20px;
  }
}

.footer-text {
  padding: 0 50px;
  color: $scorpion;
  font-size: 13px;
  text-align: center;

  @include mq($md-max, max) {
    padding: 0 10px;
  }
}
