.navbar {
  display: none;
}

.page-header {
  background: $black;
  padding-bottom: 30px;
  margin-bottom: 0;
  border: none;

  @include mq($md-max, max) {
    padding-top: 20px;
  }
}

.region-header {
  @include clearfix;
}

.contact-head {
  margin-top: 17px;
  float: right;
  margin-bottom: 43px;

  @include mq($md-max, max) {
    margin: 11px 0;
  }

  p {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0;
    text-align: right;
    color: $white;
    font-size: 12px;

    @include mq($xs-max, max) {
      justify-content: flex-start;
      flex-flow: column wrap;
      align-items: flex-start;

    }

    br {
      display: none;

      @include mq($xs-max, max) {
        display: block;
      }
    }

    span {
      padding-left: 10px;

      @include mq($xs-max, max) {
        padding-left: 0;
      }
    }
  }

  a {
    color: $white;
    font-size: 12px;
    text-decoration: none;
    margin-right: 12px;
  }
}

.logo-head {
  margin-top: 30px;
  float: left;

  @include mq($md-max, max) {
    margin-top: 15px;
  }

  picture {
    display: block;
  }
}

.collapsed-menu {
  display: none;
  float: right;

  @include mq($md-max, max) {
    display: block;
  }
}

.navbar-toggle {
  display: block;
  margin: 0;

  p {
    @include clearfix;
  }

  br {
    display: none;
  }

  .icon-bar {
    background: $white;
    width: 48px;
    height: 3px;
    margin-top: 7px;

    & + .icon-bar {
      margin-top: 7px;
    }
  }
}

.block-menu-head-menu {
  float: right;

  @include mq($md-max, max) {
    margin-top: 12px;
  }

  .menu {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .leaf {
    display: inline-block;

    &:first-child {
      a, a:active, a:hover, a.active {
        padding-left: 0;
      }
    }

    &:last-child {
      a, a:active, a:hover, a.active {
        padding-right: 0;
      }
    }
  }

  .leaf {
    a, a:active, a:hover, a.active {
      padding: 0 21px;
      font-size: 18px;
      color: $white;
      text-decoration: none;
      background: none !important;

      @include mq($sm-max, max) {
        font-size: 16px;
        padding: 0 15px;
      }

      @include mq($xs-max, max) {
        font-size: 14px;
        padding: 0 5px;
      }
    }
  }
}
