.online-accountants {

  .block-title {
    margin-top: 66px;
    margin-bottom: 59px;
    color: $mine-shaft;
    font-size: 54px;
    text-align: center;

    @include mq($md-max, max) {
      margin: 42px 0;
      font-size: 32px;
    }

    @include mq($md-max, max) {
      margin: 32px 0;
      font-size: 24px;
    }
  }

  .view-header {
    @include wrapper(1200px);
    margin-bottom: 67px;
    color: $mine-shaft;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    box-sizing: content-box;

    @include mq($md-max, max) {
      margin: 0 0 42px;
    }

    @include mq($xs-max, max) {
      margin: 0 0 20px;
    }
  }

  .view-content {
    display: flex;
    flex-flow: row nowrap;

    @include mq(1480px, max) {
      flex-flow: row wrap;
    }

    @include mq($xs-max, max) {
      flex-flow: column wrap;
    }
  }

  .views-row {
    flex: 1 1 0;
    padding: 47px 42px 60px 32px;
    background-blend-mode: overlay;

    @include mq(1480px, max) {
      padding: 20px 25px 35px;
      width: 50%;
      flex: 1 1 50%;
    }

    @include mq($xs-max, max) {
      padding: 35px 25px 25px;
      width: 100%;
      flex: 1 1 100%;
    }

    &-1 {
      background: url('../img/services-1.png'), $scorpion;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &-2 {
      background: url('../img/services-2.png'), $scorpion;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &-3 {
      background: url('../img/services-3.png'), $scorpion;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &-4 {
      background: url('../img/services-4.png'), $boulder;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &:hover {
      background-color: $cerulean;
    }
  }

  .views-field-title {
    color: $white;
    font-size: 54px;

    @include mq($xs-max, max) {
      font-size: 32px;
    }
  }

  .views-field-body {
    margin-bottom: 28px;
    color: $white;
    font-size: 16px;
    line-height: 1.625;
  }

  .views-field-title-1 {
    a {
      display: inline-block;
      padding: 14px 21px;
      border: solid $white;
      border-width: 1px;
      color: $white;
      font-size: 16px;
      text-decoration: none;
    }
  }
}
