.packages-block {
  background: url('../img/package-main.png'), $spring-wood;
  background-size: cover;
  background-blend-mode: darken;

  @include mq(1660px, max) {
    display: none;
  }

  .block-title {
    margin-top: 63px;
    margin-bottom: 38px;
    color: $mine-shaft;
    font-size: 54px;
    text-align: center;
  }

  .view-header {
    @include wrapper(1200px);
    margin-bottom: 86px;
    color: $mine-shaft;
    font-size: 16px;
    line-height: 2.25;
    text-align: center;
    box-sizing: content-box;
  }

  .view-content {
    @include wrapper(1660px);
    margin-bottom: 73px;
    box-sizing: content-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .views-row {
    width: 24.096%;
    padding: 35px 37px 63px;
    background: $white;
    position: relative;
  }

  .views-field-title {
    margin-bottom: 20px;
    font-size: 16px;
    color: $mine-shaft;
    text-align: center;
    text-transform: uppercase;
  }

  .views-field-field-package-start {
    margin-bottom: 26px;
    font-size: 12px;
    color: $silver-chalice;
    text-align: center;
  }

  .views-field-field-price {
    position: relative;
    padding-bottom: 36px;
    margin-bottom: 35px;
    font-size: 40px;
    color: $mine-shaft;
    text-align: center;

    &:before {
      @include absolute-horizontal-center;
      content: '';
      width: calc(100% - 16px);
      height: 12px;
      bottom: 0;
      background: url('../img/package-bottom-decor.png');
      background-size: 100% auto;
      background-repeat: no-repeat;
    }
  }

  .views-field-body {
    margin-bottom: 35px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      position: relative;
      padding-left: 40px;
      display: flex;
      align-items: center;
      vertical-align: middle;
      font-size: 16px;
      color: $mine-shaft;
      line-height: 3.125;

      @include mq(400px, max) {
        line-height: 1.5;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }


      &:before {
        @include absolute-vertical-center;
        content: '';
        width: 28px;
        height: 28px;
        left: 0;
        background: url('../img/package-check.png');
      }
    }
  }

  .views-field-title-1 {
    position: absolute;
    bottom: 0;
    padding: 26px 0 24px;
    text-align: center;
    background: #bbbbbb;
    left: 0;
    width: 100%;

    a {
      font-size: 16px;
      line-height: 1;
      color: $white;
      text-decoration: none;
    }

     &:hover {
      background: $cerulean;
    }
  }

  &.packages-block-slider {
    display: none;

    @include mq(1660px, max) {
      display: block;
    }

    .view-content {
      justify-content: center;
    }
  }
}
