.service-plan {
  .block-title {
    margin: 62px 0 38px;
    color: $mine-shaft;
    font-size: 54px;
    text-align: center;
  }

  .view-header {
    margin-bottom: 85px;
    color: $mine-shaft;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
  }
}
