#flexslider-1, #flexslider-2 {
  border: none;
  margin-bottom: 0;
}

.slider-head {

  .slides {
    position: relative;

    @include mq(1601px, max) {
      overflow: hidden;
    }

  }

  .slider-text-wrapper {
    @include absolute-center;

    @include mq(1340px, max) {
      width: 85%;
    }
  }

  .views-field-field-photo {
    img {
      height: 430px;
      display: block;

      @include mq(1340px, max) {
        max-width: none;
        width: 1920px;
        display: block;
        position: relative;
        z-index: -1;
        right: 580px;
      }

      @include mq($xs-max, max) {
        right: 740px;
      }
    }
  }

  .views-field-field-photo:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba($black, 0.5);
    //z-index: 0;
  }

  .views-field-field-large-text {
    .field-content {
      margin-bottom: 35px;
      font-size: 54px;
      color: $white;
      text-align: center;

      @include mq(1601px, max) {
        font-size: 46px;
        margin-bottom: 30px;
      }

      @include mq($md-max, max) {
        font-size: 40px;
        margin-bottom: 40px;
      }

      @include mq($xs-max, max) {
        font-size: 32px;
      }

      @include mq(379px, max) {
        font-size: 28px;
      }
    }
  }
  .views-field-field-small-text {
    .field-content {
      font-size: 36px;
      color: $white;
      text-align: center;

      @include mq(1601px, max) {
        font-size: 32px;
      }

      @include mq($md-max, max) {
        font-size: 26px;
      }

      @include mq($xs-max, max) {
        font-size: 24px;
      }

      @include mq(379px, max) {
        font-size: 20px;
      }
    }
  }

  .flex-control-nav {
    @include absolute-horizontal-center;
    bottom: 22px;
    z-index: 2;

    li {
      margin: 0 2px;
    }

    a {
      height: 12px;
      width: 12px;
      background: white;
      border: none;
      box-shadow: none;
    }

    .flex-active, a:hover {
      background: $cerulean;
    }
  }

  .flex-direction-nav {
    display: block;
  }
}

#flexslider-1:hover {
  .flex-next, .flex-prev {
    @include absolute-vertical-center;
    opacity: 0.3;
    font-size: 0;
    height: 126px;
    width: 70px;

    @include mq($sm-max, max) {
      height: 63px;
      width: 34px;
    }

    @include mq($xs-max, max) {
      display: none;
    }

    &:hover {
      opacity: 1;
    }
  }

  .flex-prev:before {
    content: '';
    height: 126px;
    width: 70px;
    background: url('../img/slider-left-hover.png');

    @include mq($sm-max, max) {
      height: 63px;
      width: 34px;
      background: url('../img/slider-left-narrow.png');
    }
  }

  .flex-next:before {
    content: '';
    height: 126px;
    width: 70px;
    background: url('../img/slider-right-hover.png');

    @include mq($sm-max, max) {
      height: 63px;
      width: 34px;
      background: url('../img/slider-right-narrow.png');
    }
  }
}

#flexslider-2 {
  width: 400px;

  @include mq(460px, max) {
    width: 100%;
  }

  .slides {
    >li {
      padding: 35px 37px 63px;

      @include mq(460px, max) {
        width: 100%;
        padding: 35px 10px 63px;
      }
    }
  }

  .flex-control-nav {
    @include absolute-horizontal-center;
    z-index: 2;

    li {
      margin: 0 2px;
    }

    a {
      height: 12px;
      width: 12px;
      background: white;
      border: none;
      box-shadow: none;
    }

    .flex-active, a:hover {
      background: $cerulean;
    }
  }

  .flex-next, .flex-prev {
    @include absolute-vertical-center;
    display: block;
    opacity: 0.3;
    font-size: 0;
    height: 63px;
    width: 34px;

    @include mq($xs-max, max) {
      display: none;
    }

    &:hover {
      opacity: 1;
    }
  }

  .flex-next {
    right: -64px;
  }

  .flex-prev {
    left: -64px;
  }

  .flex-prev:before {
    content: '';
    height: 63px;
    width: 34px;
    background: url('../img/slider-2-left-narrow.png');
  }

  .flex-next:before {
    content: '';
    height: 63px;
    width: 34px;
    background: url('../img/slider-2-right-narrow.png');
  }
}
